body {
    background-color: #333333;
    margin-top: 50px;
    font-family: 'Helvetica';
}

h1
{
	text-align: center;
	padding-bottom: 30px;
	color: #fff;
	font-size: 4em;
	
}

hr
{
	background-color: #888;
	width: 70%;
	margin-bottom: 50px;
}

.item {
    color: #000;
    background-color: #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #fff;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
